<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
        <!-- CONTENT -->
        <div class="content p-36">
    
            <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
    
                <!-- REACTIVE FORM EXAMPLE -->
    
                <form class="mat-white-bg mat-elevation-z4 p-36 mr-36 mb-36" fxLayout="column" fxLayoutAlign="center"
                    fxFlex="90" fxFlexOffset="5" name="form" [formGroup]="form" (ngSubmit)="OnSubmit()">

                <div class="h2 mb-36">{{'Tribunal.titleAjout' | translate}}</div>

               

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>{{ "Tribunal.type" | translate }}</mat-label>
                        <input matInput [placeholder]="'tribunal.type' | translate" formControlName="type" required >
                        <mat-icon matSuffix>type</mat-icon>
                        <mat-error *ngIf="error(form,'type' , 'required')">
                            Type is required!
                        </mat-error>

                    </mat-form-field>
                        
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>{{ "Tribunal.numTel" | translate }}</mat-label>
                        <input matInput [placeholder]="'tribunal.numTel' | translate" formControlName="numTel" required>
                        <mat-icon matSuffix>numero </mat-icon>
                        <mat-error *ngIf="error(form,'numTel' , 'required')">
                            numero Téléphone is required!
                        </mat-error>

                    </mat-form-field>

              
                    <mat-form-field appearance="outline" fxFlex="50" >
                        <mat-label>{{ "Tribunal.fax" | translate }}</mat-label>
                        <input matInput type="fax" [placeholder]="'tribunal.fax' | translate" formControlName="fax" required>
                        <mat-icon matSuffix>fax</mat-icon>
                        <mat-error *ngIf="error(form,'fax' , 'required')">
                            Fax is required!
                        </mat-error>
                            <mat-error *ngIf="error(form , 'fax' , 'pattern')">
                                fax must be a number 
                            </mat-error>

                    </mat-form-field>
                  

                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-select (selectionChange)="filterChanged($event.value)" name="pays" formControlName="pays" 
                         placeholder="pays" required>
                           <mat-option *ngFor="let pays of listPays" [value]="pays">
                             {{ pays.nom }}
                           </mat-option>
                        </mat-select>
                      </mat-form-field>
                     
                      <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                          <mat-select (selectionChange)="filterChangedGouv($event.value)"  formControlName="gouvernorat" 
                           placeholder="gouvernorat" required>
                             <mat-option *ngFor="let gouvernorat of listGouvernorat" [value]="gouvernorat">
                               {{ gouvernorat.nom }}
                             </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" fxFlex="50">
                            <mat-select  formControlName="ville" 
                             placeholder="ville" required>
                               <mat-option *ngFor="let ville of listVilles" [value]="ville">
                                 {{ ville.nom }}
                               </mat-option>
                            </mat-select>
                          </mat-form-field>
                </div>
              <div>
                        <mat-form-field appearance="outline" style="width: 995px;">
                            <mat-label>{{ "Tribunal.adresse" | translate }}</mat-label>
                        <textarea matInput formControlName="description" matTextareaAutosize matAutosizeMinRows=2
                        [placeholder]="'adresse.description' | translate"  required matAutosizeMaxRows=5>

                        </textarea>
                       
                        
                      </mat-form-field>
                </div>

                

                <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button type="button" routerLink="/tribunal/list" color="red">
                        {{ 'divers.cancel' | translate }}
                    </button>
                    <ng-container *ngIf="editMode; else elseTemplate">
                        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
                        {{ 'divers.update' | translate }}
                        </button>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
                        {{ 'divers.add' | translate }}
                        </button>
                    </ng-template>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>

<!-- Toast  -->

<!-- -->