<div class="content p-24" [dir]="'divers.dir' | translate">
  <div>
    <button pButton type="button" icon="pi pi-angle-double-left" class="ui-button-info"  style="margin-bottom: 2%"
     [routerLink]="['/gouvernorat', idPays]"></button>

    <button type="button" pButton icon="pi pi-plus" [label]="'divers.add' | translate" (click)="addRow()"
    style="margin-left: 88%;margin-bottom: 2%"></button>
  </div>
  <p-table [value]="villes" [paginator]="true" [rows]="5" editMode="row"  #table>
    <ng-template pTemplate="header">
      <tr>
        <th>{{'Adresse.ville' | translate }}</th>
        <th>{{'Adresse.codePostal' | translate }}</th>
        <th style="width:15em;text-align: center">{{'divers.action' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
      <tr [pEditableRow]="rowData">
        <ng-container *ngIf="rowData?.isEditable; else notEditMode">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.nom"  [ngStyle]="{'width':'100%'}" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData?.nom}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData.codePostal" [ngStyle]="{'width':'100%'}" required>
            </ng-template>

            <ng-template pTemplate="output">
              {{rowData?.codePostal}}
            </ng-template>
          </p-cellEditor>
        </td>
      </ng-container>
      <ng-template #notEditMode>
          <td>
              {{rowData?.nom}}
          </td>
          <td>
              {{rowData?.codePostal}}
          </td>
      </ng-template>
        <td style="text-align:center; width: 15em ;">
          <button *ngIf="!rowData?.isEditable" pButton type="button" pInitEditableRow icon="pi pi-pencil"
            class="ui-button-info" style="margin-right: .5em" (click)="onRowEditInit(rowData)"></button>

          <button *ngIf="rowData?.isEditable" pButton type="button" pSaveEditableRow icon="pi pi-check" [disabled]="!rowData.nom"
            class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>

          <button *ngIf="rowData?.isEditable" pButton type="button" pCancelEditableRow icon="pi pi-times"
            class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>

          <button *ngIf="!rowData?.isEditable" pButton type="button" icon="pi pi-trash" class="ui-button-danger"
            (click)="deleteVille(rowData.idVille)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>