<div class="content p-24" [dir]="'divers.dir' | translate">

    <p-table
    [dir]="'divers.dir' | translate"
    #dt
    [value]="agences"
    [(selection)]="selectedAgence"
    [paginator]="true"
    [rows]="4"
    [resizableColumns]="true"
    [globalFilterFields]="[
      'idInstitutionSiege',
      'codeInstitution',
      'idInstitutionRegionale',
      'adresse'
     
    ]" 
  >
  <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <div [style.float]="'divers.left' | translate">
        
         
          <app-tieredmenu (deleteAction)="deleteAgence()" (editAction)="EditAgence()" 
          (archiveAction)="archiverAgence()" (restoreAction)="restorerAgence()" [archiver]="archiver"></app-tieredmenu>
        </div>
        <div [style.float]="'divers.right' | translate">
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input
                  type="text"
                  pInputText
                  size="50"
                  [placeholder]="'divers.placeholderSearch' | translate"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em"></th>
          <th pResizableColumn>{{ "Agence.idInstitutionSiege" | translate }}</th>
          <th pResizableColumn>{{ "Agence.codeInstitution" | translate }}</th>
          <th pResizableColumn>{{ "Agence.idInstitutionRegionale" | translate }}</th>
          <th pResizableColumn>{{ "Agence.adresse" | translate }}</th>
        </tr>
        <tr>
          <th style="width: 3em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Agence.idInstitutionSiege' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'idInstitutionSiege',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Agence.codeInstitution' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'codeInstitution',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Agence.idInstitutionRegionale' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'idInstitutionRegionale',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Agence.adresse' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'Agence.adresse',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Agence>
          <tr [pSelectableRow]="Agence">
            <td>
              <p-tableCheckbox [value]="Agence"></p-tableCheckbox>
            </td>
            <td>
              {{Agence.idInstitutionSiege}}
            </td>
            <td>
                {{Agence.codeInstitution}}
            </td>
            <td>
                {{Agence.idInstitutionRegionale}}
              </td>
              <td>
                  {{ Agence.adresse}}
              </td>    
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              <p style="text-align: center"> {{ "divers.emptyTable" | translate }} </p>
            </td>
          </tr>
        </ng-template>
</p-table>

</div>