label {
  font-size: 2em;
  margin: 20px 0 0 0;
  font-weight: 400;
}

input {
  width: 225px;
  margin: 8px 0;
  font-size: 17px;
}
button {
  background-color: #008cba;
  color: white;
}
.error {
  color: red;
  font-size: 20px;
}
.success {
  color: green;
  font-size: 20px;
}
.btn-default {
  font-size: 16;
}
.ui-button-success {
  line-height: normal;
  display: block;
}
