<button 
  pButton
  type="button"
  *ngIf="createdFolderButtonEvent"
  (click)="openUploadFolderDialog()"
  label="{{ 'PieceAffaire.Create Folder' | translate }}"
  icon="pi pi-plus"
  style="float: right;margin-right: 2%"
  
></button>
<div class="row" style="margin-left:1%">
    <a routerLink='/piece-affaire/list'>
      <button  class="btn btn-default"
      *ngIf="!createdFolderButtonEvent"
     
         >
        <span class="glyphicon glyphicon-arrow-left"></span>
       <mat-icon>keyboard_backspace</mat-icon></button>
    </a>
  </div>
  
<div class="ui-rtl" dir="ltr">
  <p-dialog
    [(visible)]="display"
    [responsive]="true"
    [style]="{ width: '60%', minWidth: '200px' }"
    [minY]="70"
    [baseZIndex]="10000"
    [draggable]="true"
  >
    <p-header>
      <b>{{ 'PieceAffaire.Create Folder' | translate }}</b>
    </p-header>
    <div id="forms" class="page-layout simple fullwidth" fxLayout="column">
      <div class="content p-24">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
          <div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>"{{ 'PieceAffaire.Create Folder' | translate }}"</mat-label>
                <input
                  matInput
                  [(ngModel)]="dossier.nom"
                  required
                />
                <mat-icon matSuffix>account_circle</mat-icon>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>{{ 'tache.description' | translate }}</mat-label>
                <textarea
                  matInput
                  [placeholder]="'tache.description' | translate"
                  [(ngModel)]="dossier.description"
                  required
                ></textarea>
                <mat-icon matSuffix>chat</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <button
        type="button"
        pButton
        (click)="display = false"
        icon="pi pi-ban"
        [label]="'button.annuler' | translate"
      ></button>
      <button
        type="button"
        pButton
        (click)="saveDossier()"
        icon="pi pi-save"
        [label]="'button.enregistrer' | translate"
      ></button>
    </p-footer>
  </p-dialog>
</div>