<button
  pButton
  type="button"
  (click)="openFileToMoveDialog()"
  label="{{ 'PieceAffaire.deplacer' | translate }}"
  icon="pi pi-external-link"
  style="margin-left: 15px"
>
</button>
<div class="ui-rtl" dir="ltr">
  <p-dialog 
    [(visible)]="display"
    [responsive]="true"
    [style]="{ width: '45%' }"
    [minY]="70"
    [baseZIndex]="100"
    [draggable]="true"    
  >
    <p-header>
        Selectionner un dossier
    </p-header>

  
<p-listbox [options]="dossier" [(ngModel)]="selectedFolder" filter="filter" optionLabel="nom"  [listStyle]="{'max-height':'250px'}">
  
    
    <p-header>
    
        <mat-icon class="logo-icon s-16 mr-6" style="color: yellow"
      >folder</mat-icon> listes des dossiers


      </p-header>
</p-listbox>
    <p-footer>
      <button
        type="button"
        pButton
        (click)="closePieceAffairedDialog()"
        icon="pi pi-ban"
        [label]="'button.annuler' | translate"
      ></button>
      <button
        (click)="MovePieceAffaire()"
        type="button"
        pButton
        icon="pi pi-save"
        [label]="'button.enregistrer' | translate"
      ></button>
      <button type="button" (click)="selectedFolder=null" pButton icon="pi pi-times" label="Clear Selected folder"></button>
    </p-footer>
  </p-dialog>
</div>

