<div class="content p-24"  [dir]="'divers.dir' | translate">
    <div style="margin-left: 90%;margin-bottom: 2%">
        <button type="button" pButton icon="pi pi-plus" (click)="addRow()" [label]="'divers.add' | translate"></button>
    </div>
    <p-table [value]="configuration" dataKey="idConfiguration" editMode="row" [paginator]="true"  [rows]="10" #table>
        <ng-template pTemplate="header">
            <tr>
                <th>{{'configuration.nom' | translate }}</th>
                <th>{{'configuration.nom_ar' | translate }}</th>
                <th>{{'configuration.type' | translate }}</th>
                <th style="width:15em;text-align: center"> {{'divers.action' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
            <tr [pEditableRow]="rowData">
                <ng-container *ngIf="rowData?.isEditable; else notEditMode">
                        <td>
                                <p-cellEditor>
                                        <ng-template pTemplate="input" >
                                            <input pInputText type="text" [(ngModel)]="rowData.nom" required
                                                    [ngStyle]="{'width':'100%'}">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData?.nom}}
                                        </ng-template>
                                </p-cellEditor>
                            </td>
                            <td>
                                <p-cellEditor>
                                        <ng-template pTemplate="input" >
                                            <input pInputText type="text" [(ngModel)]="rowData.nom_ar" required
                                                    [ngStyle]="{'width':'100%'}">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData?.nom_ar}}
                                        </ng-template>
                                </p-cellEditor>
                            </td> 
                            <td>
                                <p-cellEditor>
                                        <ng-template pTemplate="input" >
                                            <input pInputText type="text" [(ngModel)]="rowData.type" required
                                                    [ngStyle]="{'width':'100%'}">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{rowData?.type}}
                                        </ng-template>
                                </p-cellEditor>
                            </td>   
                </ng-container>
                <ng-template #notEditMode>
                        <td>
                          {{rowData?.nom}}
                            </td>
                         <td>
                          {{rowData?.nom_ar}}
                            </td>
                         <td>
                          {{rowData?.type}}
                          </td>
                </ng-template>
                
                <td style="text-align:center; width: 15em ;" >
                    <button *ngIf="!rowData?.isEditable" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" style="margin-right: .5em" (click)="onRowEditInit(rowData)"></button>

                    <button *ngIf="rowData?.isEditable" pButton type="button" pSaveEditableRow icon="pi pi-check"  [disabled]="!rowData.nom"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                        

                    <button *ngIf="rowData?.isEditable" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" style="margin-right: .5em"  (click)="onRowEditCancel(rowData, ri)"></button>

                    <button pButton *ngIf="!rowData?.isEditable" type="button" icon="pi pi-trash" style="margin-right: .5em" 
                        class="ui-button-danger" (click)="deleteConfiguration(rowData.idConfiguration)"></button>

                    <!--<button  pButton type="button"  icon="pi pi-plus" class="ui-button-info" (click)="savePays(rowData)"></button>   -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

