<div class="content p-24" [dir]="'divers.dir' | translate">
  <p-table
    [dir]="'divers.dir' | translate"
    #dt
    [value]="historiqueRecouvrementService.historiqueRecouvrement"
    [paginator]="true"
    [rows]="5"
    [resizableColumns]="true"
    [responsive]="true"
  >
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <div [style.float]="'divers.right' | translate">
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input
                  type="text"
                  pInputText
                  size="50"
                  [placeholder]="'divers.placeholderSearch' | translate"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pResizableColumn>{{ "histRecouvrement.nom" | translate }}</th>
        <th pResizableColumn>{{ "histRecouvrement.dateDebut" | translate }}</th>
        <th pResizableColumn>{{ "histRecouvrement.dateFin" | translate }}</th>
        <th pResizableColumn>{{ "histRecouvrement.agent" | translate }}</th>
        <th pResizableColumn>{{ "histRecouvrement.rapportHN" | translate }}</th>
      </tr>
      <tr>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'histRecouvrement.nom' | translate"
                  (input)="dt.filter($event.target.value, 'nom', 'contains')"
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <p-calendar
                  [showIcon]="true"
                  [placeholder]="'histRecouvrement.dateDebut' | translate"
                  appendTo="body"
                  [(ngModel)]="dateDebut"
                  dateFormat="dd-mm-yy"
                  (onSelect)="dt.filter($event, 'creationTime', 'date')"
                >
                </p-calendar>
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <p-calendar
                  [showIcon]="true"
                  [placeholder]="'histRecouvrement.dateFin' | translate"
                  appendTo="body"
                  [(ngModel)]="dateFin"
                  dateFormat="dd-mm-yy"
                  (onSelect)="dt.filter($event, 'endTime', 'date')"
                >
                </p-calendar>
              </div>
            </div>
          </div>
        </th>

        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'histRecouvrement.agent' | translate"
                  (input)="dt.filter($event.target.value, 'agent', 'contains')"
                />
              </div>
            </div>
          </div>
        </th>

        <th pResizableColumn></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historiqueRecouvrement>
      <tr>
        <td>
          {{ historiqueRecouvrement.nom }}
        </td>
        <td>
          {{ historiqueRecouvrement.creationTime | date: "dd-MM-yyyy" }}
        </td>

        <td>
          {{ historiqueRecouvrement.endTime | date: "dd-MM-yyyy" }}
        </td>
        <td>
          {{ historiqueRecouvrement.agent }}
        </td>
        <td>
          {{ historiqueRecouvrement.idRapportHn }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          {{ "divers.emptyTable" | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
