<!--
    *ngIf="true" hack is required here for router-outlet to work
    correctly. Otherwise, it won't register the changes on the
    layout and won't update the view.
 -->
<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <div
    class="header mat-red-bg p-24 h-50"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">home</mat-icon>
        <span *ngFor="let route of currentRoute">
          <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
          <span class="secondary-text">{{ route }}</span>
        </span>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center end" fxFlex>
      <button
        type="button"
        pButton
        icon="pi pi-chevron-left"
        (click)="retour()"
        label="RETOUR"
        class="ui-button-danger"
      ></button>
    </div>
  </div>

  <router-outlet *ngIf="true"></router-outlet>
</div>
