content {
  position: relative;
  display: flex;
  z-index: 1;
  flex: 1 0 auto;

  > *:not(router-outlet) {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
    min-width: 100%;
  }
  .h-50 {
    height: 50px !important;
    min-height: 50px !important;
    max-height: 50px !important;
  }
}
