::ng-deep .tooltip {
  background-color: blue;
  color: blue;
  white-space: pre-line;
}
::ng-deep .primary-tooltip {
  background-color: #3f51b5 !important;
  white-space: pre-line;
  font-size: 14px;
  width: 100%;
}
.help {
  cursor: help;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #49c5b6;
}
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #49c5b6;
}
