<div class="content p-24" [dir]="'divers.dir' | translate">
  <p-table
    [dir]="'divers.dir' | translate"
    #dt
    [value]="dossierPrecService.dossierPrec"
    [(selection)]="dossierPrecSelectionnez"
    [paginator]="true"
    [rows]="5"
    [resizableColumns]="true"
    [responsive]="true"
    [globalFilterFields]="[
      'compteBancaire.rib',
      'compteBancaire.debiteur.firstName',
      'compteBancaire.debiteur.lastName',
      'agence.adresse.ville.nom',
      'creationTime'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <div [style.float]="'divers.left' | translate">
          <mat-slide-toggle
            ariaLabel="test"
            [color]="'default'"
            [(ngModel)]="archiver"
            (toggleChange)="onArchivage()"
            style="margin : 0px 20px;"
            [style.float]="'divers.right' | translate"
            >{{ "DossierPrec.archiver" | translate }}</mat-slide-toggle
          >
          <app-tieredmenu
            (deleteAction)="deleteDossiersPrec()"
            (editAction)="EditDossiersPrec()"
            (archiveAction)="archiverOrRestorerDossierPrec(true)"
            (restoreAction)="archiverOrRestorerDossierPrec(false)"
            (historiqueAction)="goHistoriqueRecouvrement()"
            [archiver]="archiver"
            [historique]="true"
          ></app-tieredmenu>
        </div>
        <div [style.float]="'divers.right' | translate">
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input
                  type="text"
                  pInputText
                  size="50"
                  [placeholder]="'divers.placeholderSearch' | translate"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th pResizableColumn>{{ "DossierPrec.rib" | translate }}</th>
        <th pResizableColumn>{{ "DossierPrec.solde" | translate }}</th>
        <th pResizableColumn>{{ "DossierPrec.debiteur" | translate }}</th>
        <th pResizableColumn>{{ "DossierPrec.agence" | translate }}</th>
        <th pResizableColumn>{{ "DossierPrec.dateCreation" | translate }}</th>
      </tr>
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'DossierPrec.rib' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'compteBancaire.rib',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'DossierPrec.solde' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'compteBancaire.solde',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'DossierPrec.debiteur' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'compteBancaire.debiteur',
                      'debiteur'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'DossierPrec.agence' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'agence.adresse.ville.nom',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <p-calendar
                  [showIcon]="true"
                  [placeholder]="'DossierPrec.dateCreation' | translate"
                  appendTo="body"
                  [(ngModel)]="date"
                  dateFormat="dd-mm-yy"
                  (onSelect)="dt.filter($event, 'creationTime', 'date')"
                ></p-calendar>
              </div>
            </div>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dossierPrec>
      <tr [pSelectableRow]="dossierPrec">
        <td>
          <p-tableCheckbox [value]="dossierPrec"></p-tableCheckbox>
        </td>
        <td>
          {{ dossierPrec.compteBancaire.rib }}
        </td>
        <td>
          {{ dossierPrec.compteBancaire.solde }}
        </td>
        <td class="help">
          <span
            [matTooltip]="tooltipDebiteur(dossierPrec.compteBancaire.debiteur)"
            matTooltipPosition="left"
            aria-label="displays a tooltip"
            matTooltipClass="primary-tooltip"
          >
            {{ concat2Chaine(dossierPrec.compteBancaire.debiteur) }}
          </span>
        </td>
        <td class="help">
          <span
            [matTooltip]="tooltipAgence(dossierPrec.agence)"
            matTooltipPosition="left"
            aria-label="displays a tooltip"
            matTooltipClass="primary-tooltip"
          >
            {{ "DossierPrec.agence" | translate }}
            {{ dossierPrec.agence.adresse.ville.nom }}
          </span>
        </td>
        <td>
          {{ dossierPrec.creationTime | date: "dd-MM-yyyy" }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          <p style="text-align: center"> {{ "divers.emptyTable" | translate }} </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
