<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="center"
                fxFlex="90" fxFlexOffset="5" name="form" [formGroup]="form" (ngSubmit)="OnSubmit()">

                <div class="h2 mb-24">{{'user.titleAjout' | translate}}</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>{{ "user.nom" | translate }}</mat-label>
                        <input matInput [placeholder]="'user.nom' | translate" formControlName="firstName">
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="error(form, 'firstName' , 'required')">
                            First Name is required!
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>{{ "user.prenom" | translate }}</mat-label>
                        <input matInput [placeholder]="'user.prenom' | translate" formControlName="lastName" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="error(form,'lastName' , 'required')">
                            Last Name is required!
                        </mat-error>

                    </mat-form-field>

       
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>{{ "user.email" | translate }}</mat-label>
                        <input matInput type="email" [placeholder]="'user.email' | translate" formControlName="email"
                            required>
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="error(form,'email' , 'required')">
                            Email is required!
                        </mat-error>
                        <mat-error *ngIf="error(form,'email' , 'pattern')">
                            The format of the email address is not valid
                        </mat-error>

                    </mat-form-field>
                    

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>{{ "user.profession" | translate }}</mat-label>
                        <mat-select [placeholder]="'user.profession' | translate" formControlName="refProfession" required>
                            <mat-option *ngFor="let profession of professions" [value]="profession">
                                {{ profession.libelleProfession }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix>work_outline</mat-icon>
                        <mat-error *ngIf="error(form,'refProfession' , 'required')">
                            Profession is required!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>{{ "auth.login" | translate }}</mat-label>
                        <input matInput [placeholder]="'auth.login' | translate" formControlName="login" required>
                        <mat-icon matSuffix>account_box</mat-icon>
                        <mat-error *ngIf="error(form,'login' , 'required')">
                            Login is required!
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>{{ "auth.password" | translate }}</mat-label>
                        <input type="password" matInput [placeholder]="'auth.password' | translate"
                            formControlName="password" required>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                        <mat-error *ngIf="error(form , 'password' , 'required')">
                            Password is required!
                        </mat-error>
                        <mat-error *ngIf="error(form , 'password' , 'minlength')">
                            Password must contain at least 6 characters
                        </mat-error>
                    </mat-form-field>

                </div>

               
               

                <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button type="button" routerLink="/utilisateur/list" color="red">
                        {{ 'divers.cancel' | translate }}
                    </button>
                    <ng-container *ngIf="editMode; else elseTemplate">
                        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
                            {{ 'divers.update' | translate }}
                        </button>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
                            {{ 'divers.add' | translate }}
                        </button>
                    </ng-template>
                </div>
            </form>
        </div>
    </div>
    <!-- / CONTENT -->
</div>

