<div class="content p-24"  [dir]="'divers.dir' | translate">
<!--     <div style="margin-left: 90%;margin-bottom: 2%">
        <button type="button" pButton icon="pi pi-plus" (click)="addRole()" [label]="'divers.add' | translate"></button>
    </div> -->
    <p-table [value]="roles" [paginator]="true"  [rows]="25">
        <ng-template pTemplate="header">
            <tr>
                <th>{{'role.libelle' | translate }}</th>
                <th style="width:15em;text-align: center"> {{'divers.action' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
            <tr>
                <td>{{role.name}}</td>
                <td style="text-align:center; width: 15em ;" >
                    <button pButton type="button" icon="pi pi-pencil"
                        class="ui-button-info" style="margin-right: .5em" (click)="editRole(role)"></button>

                    <button pButton  type="button" icon="pi pi-trash" style="margin-right: .5em" 
                        class="ui-button-danger" (click)="deleteRole(role.name)"></button>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="2">
                <p style="text-align: center"> {{ "divers.emptyTable" | translate }} </p> 
              </td>
            </tr>
          </ng-template>
    </p-table>
</div>

