<div class="content p-24" [dir]="'divers.dir' | translate">

  <p-table
  [dir]="'divers.dir' | translate"
  #dt
  [value]="debiteurs"
  [(selection)]="selectedDebiteur"
  dataKey="idDebiteur"
  [paginator]="true"
  [rows]="5"
  [resizableColumns]="true"
  [globalFilterFields]="[
      'lastNames',
      'tel',
      'cin',
      'profession',
      'adresse'
    ]"
  
>
<ng-template pTemplate="caption">
    <div class="ui-helper-clearfix">
      <div [style.float]="'divers.left' | translate">
      
       
        <app-tieredmenu (deleteAction)="deleteDebiteur()" (editAction)="EditDebiteur()" 
        (archiveAction)="archiverDebiteur()" (restoreAction)="restorerDebiteur()" [archiver]="archiver"></app-tieredmenu>
      </div>
      <div [style.float]="'divers.right' | translate">
        <div class="ui-fluid">
          <div class="ui-g">
            <div class="ui-g-12">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input
                type="text"
                pInputText
                size="50"
                [placeholder]="'divers.placeholderSearch' | translate"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="width:auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns let-Debiteur>
      <tr>
        <th style="width: 3em"></th>
        <th pResizableColumn>{{ "Debiteur.fullName" | translate }}</th>
        <th pResizableColumn>{{ "Debiteur.tel" | translate }}</th>
        <th pResizableColumn>{{ "Debiteur.cin" | translate }}</th>
        <th pResizableColumn>{{ "Debiteur.profession" | translate }}</th>
        <th pResizableColumn>{{ "Debiteur.adresse" | translate }}</th>
      </tr>
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'Debiteur.fullNamep' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'idDebiteur',
                      'debiteurFilter'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'Debiteur.tel' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'tel',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'Debiteur.cin' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'cin',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'Debiteur.profession' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'profession',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'Debiteur.adresse' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'adresse',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-Debiteur>
        <tr [pSelectableRow]="Debiteur">
          <td>
            <p-tableCheckbox [value]="Debiteur"></p-tableCheckbox>
          </td>
          <td>
            {{ concat2Chaine(Debiteur)}}
          </td>
          <td>
              {{Debiteur.tel}}
          </td>
          <td>
              {{Debiteur.cin}}
            </td>
            <td>
              {{ Debiteur.profession}}
            </td>
            <td>
              {{ Debiteur.adresse?.adresse}}
          </td>        
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            <p style="text-align: center"> {{ "divers.emptyTable" | translate }} </p>
          </td>
        </tr>
      </ng-template>
</p-table>

</div>