<button
  pButton
  type="button"
  (click)="openUploadDialog()"
  label="{{ 'PieceAffaire.CreateFile' | translate }}"
  icon="pi pi-plus"
  style="float: right"
></button>
<div class="ui-rtl" dir="ltr">
  <p-dialog
    [(visible)]="display"
    [responsive]="true"
    [style]="{ width: '60%', minWidth: '200px' }"
    [minY]="70"
    [baseZIndex]="10000"
    [draggable]="true"
  >
    <p-header>
      <b>{{ 'PieceAffaire.CreateFileAffaire' | translate }}</b>
    </p-header>
    <p-fileUpload
      #fileUpload
      name="demo[]"
      (onUpload)="onUpload($event)"
      multiple="multiple"
      customUpload="true"
      (uploadHandler)="myUploader($event)"
      [showUploadButton]="false"
      (onSelect)="onUpload($event)"
      chooseLabel="{{ 'PieceAffaire.chooseLabel' | translate }}"
      cancelLabel="{{ 'PieceAffaire.annuler' | translate }}"
    >
    </p-fileUpload>
    <p-footer>
      <button
        type="button"
        pButton
        (click)="closeUploadDialog()"
        icon="pi pi-ban"
        [label]="'button.annuler' | translate"
      ></button>
      <button
        (click)="addPieceAffaire()"
        type="button"
        pButton
        icon="pi pi-save"
        [label]="'button.enregistrer' | translate"
      ></button>
    </p-footer>
  </p-dialog>
</div>
