<div class="content p-24" [dir]="'divers.dir' | translate">
  <p-table
    [dir]="'divers.dir' | translate"
    #dt
    [value]="auxiliaires"
    dataKey="idAuxiliaire"
    [(selection)]="selectedAuxiliaires"
    [paginator]="true"
    [rows]="5"
    [resizableColumns]="true"
    [globalFilterFields]="[
    'nom',
    'prenom',
    'email',
    'numTel',
    'specialite',
    'type',
    'numTel2'
  ]"
  >
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
       <div [style.float]="'divers.left' | translate">
        <app-tieredmenu (addAction)="addAuxiliaire()" (editAction)="editAuxiliaire()" (deleteAction)="deleteAuxiliaire()" [addItem] ="true" ></app-tieredmenu>
        
      </div>  
        <div [style.float]="'divers.right' | translate">
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input
                  type="text"
                  pInputText
                  size="50"
                  [placeholder]="'divers.placeholderSearch' | translate"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th style="width: 3em"></th>
        <th pResizableColumn>{{ "auxiliaire.fullName" | translate }}</th>
        <th pResizableColumn>{{ "auxiliaire.email" | translate }}</th>
        <th pResizableColumn>{{ "auxiliaire.type" | translate }}</th>
        <th pResizableColumn>{{ "auxiliaire.numTel" | translate }}</th>
        <th pResizableColumn>{{ "auxiliaire.specialite" | translate }}</th>

      </tr>
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 3em"></th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'auxiliaire.fullName' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'idAuxiliaire',
                      'customAuxiliaireFilter'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'auxiliaire.email' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'email',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>

 
        <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'auxiliaire.type' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'type',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
  


        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'auxiliaire.numTel' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'numTel',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>

        <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'auxiliaire.specialite' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'specialite',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-auxiliaire let-expanded="expanded">
      <tr [pSelectableRow]="auxiliaire">
        <td>
          <p-tableCheckbox [value]="auxiliaire"></p-tableCheckbox>
        </td>
        <td>
          <a href="#" [pRowToggler]="auxiliaire">
              <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
      </td>
        <td>
          {{ concat2Chaine(auxiliaire) }}
        </td>
        <td>
          {{ auxiliaire.email }}
        </td>
        <td>
            {{ auxiliaire.type }}
          </td>
        <td>
          {{ auxiliaire.numTel }}
        </td>   
        <td>
            {{ auxiliaire.specialite }}
          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-auxiliaire>
      <tr>
         <td style="background-color:rgba(252, 252, 255, 0.904)" [attr.colspan]="7">
              <div class="ui-g ui-fluid" style="font-size:16px;padding-left:100px">
                <div class="row">
                  <div class="col-md-6">
                  <div class="ui-g-12 ui-md-9">
                      <div class="ui-g">
                          <div class="ui-g-12">
                              <b>Nom:</b> {{auxiliaire.nom}}
                          </div>
                          <div class="ui-g-12">
                              <b>Prénom:</b> {{auxiliaire.prenom}}
                          </div>
                          <div class="ui-g-12">
                              <b>Email:</b> {{auxiliaire.email}}
                          </div>
                          
                      </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <b>Type:</b> {{auxiliaire.type}}
                            </div>
                            <div class="ui-g-12">
                                <b>Num Tel:</b> {{auxiliaire.numTel}}
                            </div>
                            <div class="ui-g-12">
                                <b>Num Tel:</b> {{auxiliaire.numTel2}}
                            </div>
                            <div class="ui-g-12">
                                <b>Specialite:</b> {{auxiliaire.specialite }}
                            </div>
                           
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </td>
      </tr>
  </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">
          <p style="text-align: center"> {{ "divers.emptyTable" | translate }} </p> 
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
