:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;

  > .header {
    flex: 0 1 auto;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
  }

  > .content {
    flex: 1;

    .file-details {
      .preview {
        height: 30px;
      }

      .offline-switch {
        padding-bottom: 16px;
        font-weight: 500;
      }

      .title {
        padding: 16px 0;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
      }

      table {
        width: 100%;
        text-align: left;

        tr {
          th,
          td {
            padding: 20px 0;

            font-size: 15px;
            text-align: -internal-center;
          }

          th {
          }

          td {
          }

          &.type {
            text-transform: capitalize;
          }

          &.size {
          }

          &.location {
          }

          &.owner {
            text-transform: capitalize;
          }

          &.opened {
          }

          &.created {
          }
        }
      }
    }
  }
}
