<!-- SIDEBAR HEADER -->
<div class="header  p-24" fxLayout="column" fxLayoutAlign="space-between">
  <div class="toolbar" fxLayout="row" fxLayoutAlign="end center" >
    <button *ngIf="selected?.idPieceAffaire"
      mat-icon-button
      class=""
      aria-label="Download"
      matTooltip="Download"
      (click)="DownloadPieceAffaire()"
    >
      <mat-icon>file_download</mat-icon>
     
    </button>
   

  <button *ngIf=" !selected?.idPieceAffaire"
  mat-icon-button
  class=""
  aria-label="open"
  matTooltip="open"
  (click)="openFolder()"
>
<mat-icon>folder_open</mat-icon>
</button>
</div>

  <div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">
    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <span *ngIf="selected?.idDossier">
        <mat-icon class="logo-icon s-36 mr-16" style="color: yellow"
          >folder</mat-icon
        >
        <span class="logo-text h1">Dossier {{ selected?.nom }}</span>
      </span>
      <span *ngIf="selected?.idPieceAffaire">
        <mat-icon class="nav-link-icon" style="color: #1565c0"
          >insert_drive_file</mat-icon
        >
        <span class="logo-text h1">File {{ selected?.nom }}</span>
      </span>
    </div>
  </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24 mat-white-bg">
  <div
    class="file-details"
    [@animate]="{ value: '*', params: { delay: '200ms' } }"
  >
    <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon class="type-icon s-48" [ngClass]="selected?.type"></mat-icon>
    </div>

    <table>
      <tr>
        <td>
          <b>Description :</b>
          {{ selected?.description }}
        </td>
      </tr>

      <tr>
        <td>
          <b>Date Création</b> :
          {{ selected?.dateCreation | date: 'dd-MM-yyyy' }}
        </td>
      </tr>

      <tr *ngIf="selected?.idPieceAffaire">
        <td><b>File Name:</b> {{ selected?.fileName }}</td>
      </tr>

      <tr *ngIf="selected?.idPieceAffaire">
        <td><b>Size:</b> {{ selected?.size === '' ? '-' : selected?.size }}</td>
      </tr>
    </table>
  </div>
</div>
<!-- / SIDEBAR CONTENT -->
