<div class="content p-24" [dir]="'divers.dir' | translate">
  <p-table
    [dir]="'divers.dir' | translate"
    [value]="taches"
    sortMode="multiple"
    #dt
    dataKey="idTache"
    [rows]="5"
    [(selection)]="selectedTaches"
    [paginator]="true"
    [resizableColumns]="true"
    [globalFilterFields]="['titre', 'dateDebut', 'dateFin', 'statut']"
  >
    <ng-template pTemplate="caption">
      Liste des Taches

      <div style="text-align:right"></div>
    </ng-template>
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <div [style.float]="'divers.left' | translate">
          <app-tieredmenu
            (addAction)="addTache()"
            (editAction)="editTache()"
            (deleteAction)="deleteTache()"
            [addItem]="true"
          ></app-tieredmenu>
        </div>
        <div [style.float]="'divers.right' | translate">
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input
                  type="text"
                  pInputText
                  size="50"
                  [placeholder]="'divers.placeholderSearch' | translate"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th style="width: 3em"></th>
        <th pResizableColumn>{{ 'tache.titre' | translate }}</th>
        <th pResizableColumn>{{ 'tache.dateDebut' | translate }}</th>
        <th pResizableColumn>{{ 'tache.dateFin' | translate }}</th>
        <th pResizableColumn>{{ 'tache.statut' | translate }}</th>
      </tr>
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 3em"></th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'tache.titre' | translate"
                  (input)="
                    dt.filter($event.target.value, 'tache.titre', 'contains')
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'tache.dateDebut' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'tache.dateDebut',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'tache.dateFin' | translate"
                  (input)="
                    dt.filter($event.target.value, 'tache.dateFin', 'contains')
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'tache.statut' | translate"
                  (input)="
                    dt.filter($event.target.value, 'tache.statut', 'contains')
                  "
                />
              </div>
            </div>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tache let-expanded="expanded">
      <tr [pSelectableRow]="tache">
        <td>
          <p-tableCheckbox [value]="tache"></p-tableCheckbox>
        </td>
        <td>
          <a href="#" [pRowToggler]="tache">
            <i
              [ngClass]="
                expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
              "
            ></i>
          </a>
        </td>
        <td>
          {{ tache.titre }}
        </td>
        <td>
          {{ tache.dateDebut | date: 'dd-MM-yyyy' }}
        </td>
        <td>
          {{ tache.dateFin | date: 'dd-MM-yyyy' }}
        </td>
        <td>
          {{ tache.statut }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-tache>
      <tr>
        <td
          style="background-color:rgba(252, 252, 255, 0.904)"
          [attr.colspan]="6"
        >
          <div class="ui-g ui-fluid" style="font-size:16px;padding-left:100px">
            <div class="row">
              <div class="col-md-12">
                <div class="ui-g-12 ui-md-12">
                  <div class="ui-g">
                    <div class="ui-g-12">
                      <b>Description:</b> {{ tache.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">
          <p style="text-align: center">
            {{ 'divers.emptyTable' | translate }}
          </p>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
