<div
  [ngStyle]="{ 'background-image': 'url(assets/img/bgquality.png)' }"
  class="app flex-row"
  style="background-color:white;height: 800px;"
>
  <div class="row">
    <div class="col-sm-1"></div>
    <div style="padding-top:2%" class="col-sm-2"></div>
  </div>
  <div style="padding-top:10%">
    <div>
      <div>
        <div>
          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <img src="assets/img/asb1.png" />
            </div>

            <div class="col-md-6 col-md-offset-2"></div>
          </div>
          <div class="row" style="background-color:white">
            <div class="col-md-2"></div>

            <div class="col-md-4">
              <fieldset>
                <legend>
                  <a ui-sref="home">
                    <img
                      src="assets/img/asb.png"
                      class="img-rounded"
                      width="65%"
                      height="25%"
                      style="padding-left:30%"
                    />
                  </a>
                </legend>
                <div class="control-group">
                  <b>Description</b>
                </div>
              </fieldset>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default" style="border-color: #E30521;">
                <div
                  class="panel-heading"
                  style="background-color: #E30521; color: white; text-align: center"
                >
                  <!-- 				                        <h3 class="panel-title">Please Sign In</h3> -->
                  <h4></h4>
                </div>
                <div class="panel-body" style="background-color: #F2F2F2">
                  <!-- 							        	<h4 translate="login.title">Sign in</h4> -->

                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label>Adresse éléctronique</label>
                      <input
                        type="text"
                        [(ngModel)]="login"
                        formControlName="login"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': submitted && f.login.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.login.errors"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="f.login.errors.required"
                          style="color: #E30521"
                        >
                          The identifier is required!
                        </div>
                      </div>
                    </div>

                    <div class="form-group" style="float: right;">
                      <button
                        style="background-color:#E20520;border-color:#E20520;color:white"
                      >
                        Valider
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <img src="assets/img/asb3.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
