/* You can add global styles to this file, and also import other style files */



body {
    display: block !important;
}

.container {
    padding-left: 0 !important;
}

.nav {
    display: block !important;
}