<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <!-- CONTENT -->
  <div class="content p-24">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
      <!-- REACTIVE FORM EXAMPLE -->

      <form
        class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24"
        fxLayout="column"
        fxLayoutAlign="start"
        fxFlex="1 0 auto"
        name="form"
        [formGroup]="form"
        (ngSubmit)="OnSubmit()"
      >
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <span fxFlex="25"></span>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>{{ 'tache.statut' | translate }}</mat-label>
            <input
              matInput
              [placeholder]="'tache.statut' | translate"
              formControlName="statut"
              required
            />
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="error(form , 'statut' , 'required')">
              Statut is required!
          </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="48">
            <mat-label>{{ 'tache.titre' | translate }}</mat-label>
            <input
              matInput
              [placeholder]="'tache.titre' | translate"
              formControlName="titre"
              required
            />
            <mat-icon matSuffix>format_size</mat-icon>
            <mat-error *ngIf="error(form , 'titre' , 'required')">
              Titre is required!
          </mat-error>
          </mat-form-field>
          <span fxFlex="4"></span>
          <mat-form-field appearance="outline" fxFlex="48">
            <mat-label>{{ 'tache.dureeNotif' | translate }}</mat-label>
            <input
              matInput
              [placeholder]="'tache.dureeNotif' | translate"
              formControlName="dureeNotif"
              required
            />
            <mat-icon matSuffix>query_builder</mat-icon>
            <mat-error *ngIf="error(form , 'dureeNotif' , 'required')">
              dureeNotif is required!
          </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field appearance="outline" fxFlex="48">
            <mat-label>{{ 'tache.dateDebut' | translate }}</mat-label>
            <input
              matInput
              [readonly]="true"
              [matDatepicker]="picker"
              [placeholder]="'tache.dateDebut' | translate"
              formControlName="dateDebut"
              required
              (focus)="picker.open()"
              #date
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="error(form , 'dateDebut' , 'required')">
              dateDebut is required!
          </mat-error>
          </mat-form-field>

          
          <span fxFlex="4"></span>
          <mat-form-field appearance="outline" fxFlex="48">
            <mat-label>{{ 'tache.dateFin' | translate }}</mat-label>
            <input
              matInput
              [readonly]="true"
              [min]="form.get('dateDebut').value"
              [matDatepicker]="pickerr"
              [placeholder]="'tache.dateFin' | translate"
              formControlName="dateFin"
              required
              (focus)="pickerr.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerr"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerr disabled="false"></mat-datepicker>
            <mat-error *ngIf="error(form , 'dateFin' , 'required')">
              dateFin is required!
          </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>{{ 'tache.description' | translate }}</mat-label>
            <textarea
              matInput
              [placeholder]="'tache.description' | translate"
              formControlName="description"
              required
            ></textarea>
            <mat-icon matSuffix>chat</mat-icon>
            <mat-error *ngIf="error(form , 'description' , 'required')">
              description is required!
          </mat-error>
          </mat-form-field>
        </div>
        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
          <button
            class="mr-8"
            mat-raised-button
            type="button"
            routerLink="/tache/list"
            color="red"
          >
            {{ 'divers.cancel' | translate }}
          </button>
          <ng-container *ngIf="editMode; else elseTemplate">
            <button
              mat-raised-button
              type="submit"
              [disabled]="form.invalid"
              color="accent"
            >
              {{ 'divers.update' | translate }}
            </button>
          </ng-container>
          <ng-template #elseTemplate>
            <button
              mat-raised-button
              type="submit"
              [disabled]="form.invalid"
              color="accent"
            >
              {{ 'divers.add' | translate }}
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
