<div class="ui-g">
    <div class="ui-g-12 ui-md-4 ui-g-nopad drag-column">
        <p-panel header="Liste des écrans">
            <div class="ui-inputgroup" style="margin-bottom: 2%">
                <input type="text" (input)="filter($event)" pInputText style="width:87%"
                    [placeholder]="'divers.placeholderSearch' | translate">
                <span class="ui-inputgroup-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <p-scrollPanel [style]="{width: '100%', height: '236px'}">
                <ul style="margin:0;padding:0" (onDrop)="drop('panel')" pDroppable="powersPanel">
                    <li *ngIf="availablePowers?.length === 0"> You can drag and drop items from table </li>
                    <li *ngFor="let power of availablePowers" class="ui-helper-clearfix" pDraggable="powersArray"
                        (onDragStart)="dragStart(power)" (onDragEnd)="dragEnd()">
                        <i class="fa fa-arrows fa-1x" style="float:right;margin-top:8px"></i>
                        <div style="margin:8px 0 0 8px;float:left">
                            <h4>{{power.nomMenu}}</h4>
                        </div>
                    </li>
                </ul>
            </p-scrollPanel>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-md-8 drop-column" pDroppable="powersArray" (onDrop)="drop('array')">
        <p-table [value]="selectedPowers">
            <ng-template pTemplate="header">
                <tr>
                    <th>Ecran</th>
                    <th>Creation</th>
                    <th>Consultation</th>
                    <th>Modification</th>
                    <th>Suppression</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-power>
                <tr pDraggable="powersPanel" (onDragStart)="dragStart(power)" (onDragEnd)="dragEnd()"
                    style="text-align: center">
                    <td>{{power.nomMenu}}</td>
                    <td><i [ngClass]="power.flagCreation ? 'fa fa-check-circle-o fa-2x text-success' : 'fa fa-close fa-2x text-danger' "
                            (click)="changeFlag(power , 'flagCreation')"></i></td>
                    <td><i [ngClass]="power.flagConsultation ? 'fa fa-check-circle-o fa-2x text-success' : 'fa fa-close fa-2x text-danger' "
                            (click)="changeFlag(power , 'flagConsultation')"></i></td>
                    <td><i [ngClass]="power.flagModification ? 'fa fa-check-circle-o fa-2x text-success' : 'fa fa-close fa-2x text-danger' "
                            (click)="changeFlag(power , 'flagModification')"></i></td>
                    <td><i [ngClass]="power.flagSuppression ? 'fa fa-check-circle-o fa-2x text-success' : 'fa fa-close fa-2x text-danger' "
                            (click)="changeFlag(power , 'flagSuppression')"></i></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">
                        <h4 style="text-align: center;margin-top: 5%;margin-bottom: 5%">You must drag and drop items
                            in the table</h4>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <button pButton type="button" class="ui-button-severity" style="float: right;padding: 2px"
            [label]="'divers.add' | translate" (click)="setPowers()"></button>
    </div>
</div>