li {
    list-style-type: none !important;
    padding: 10px !important;
    margin-bottom: 5px !important;
    border: 1px solid #c8c8c8 !important;
    background-color: #ffffff !important;
    border-radius: 3px;
}

.ui-g {
    margin-top: 2% !important;
}
.ui-g-12 {
    text-align: center;
    padding-top: 0rem !important;
    padding-left: 2rem !important;
}