
  <!-- HEADER -->
  <div class="header mat-primary-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
        <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="secondary-text s-18">home</mat-icon>
            <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
            <span class="secondary-text">Gestion des utilisateurs</span>
        </div>
        <div class="h1 mt-16">Utilisateur</div>
    </div>
</div>
<!-- / HEADER -->

<router-outlet></router-outlet>
