<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <!-- CONTENT -->
  <div class="content p-24">

      <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

          <!-- REACTIVE FORM EXAMPLE -->

          <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="OnSubmit()">

              <div class="h2 mb-24">{{'Agence.modifTitle' | translate}}</div>

              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>{{ "Agence.idInstitutionSiege" | translate }}</mat-label>
                    <input matInput  formControlName="idInstitutionSiege" >
                    <mat-icon matSuffix>attach_money</mat-icon>
                    
                    
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>{{ "Agence.idInstitutionRegionale" | translate }}</mat-label>
                        <input matInput formControlName="idInstitutionRegionale">
                        <mat-icon matSuffix>location_city</mat-icon>
                       
                        
                    </mat-form-field>
                  

              </div>

              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>{{"Agence.codeInstitution" | translate }}</mat-label>
                            <input matInput  formControlName="codeInstitution" >
                            <mat-icon matSuffix>location_city</mat-icon>
                           
                            
                        </mat-form-field>   
                    <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>{{ "Agence.adresse" | translate }}</mat-label>
                            <input  matInput  formControlName="adresse" >
                            <mat-icon matSuffix>location_on</mat-icon>
                            
                            
                        </mat-form-field>
        
              </div>

              <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                <button class="mr-8" mat-raised-button type="button" routerLink="/agence/list" color="red">
                    {{ 'divers.cancel' | translate }}
                </button>
                <ng-container *ngIf="editMode; else elseTemplate">
                        <button mat-raised-button type="submit" color="accent">
                                {{ 'divers.update' | translate }}
                            </button>
                </ng-container>
                <ng-template #elseTemplate>
                        <button mat-raised-button type="submit" color="accent">
                                {{ 'divers.add' | translate }}
                            </button>
                </ng-template>

            </div>


          </form>

       

      </div>

  </div>
  

</div>


