<div class="content p-24" >
  <div >
    <div fxLayout fxLayoutAlign="center center">
      <span fxFlex="50">
        <button
          pButton
          type="button"
          (click)="removeSelectedRows($events)"
          label="{{ 'PieceAffaire.supprimer' | translate }}"
          icon="pi pi-trash"
          class="ui-button-danger"
          style="margin-left: 15px"
        ></button>
        <app-move-pieces-affaires-folder [selection]="selection" ></app-move-pieces-affaires-folder>
      </span>
      <span fxFlex>
        <mat-form-field fxFlex="80%">
          <input
            matInput
            type="text"
            (keyup)="doFilter($event.target.value)"
            placeholder="Filter"
          />
        </mat-form-field>
      </span>
    </div>

    <mat-table #table [dataSource]="pieceAffaireService.dataSource">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef fxFlex="64px">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="64px">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="onChange($event , row)"
            [checked]="selection.isSelected(row) "
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef fxFlex="50px"></mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="50px">
          <span *ngIf="row?.idDossier">
            <mat-icon class="nav-link-icon" style="color: yellow"
              >folder</mat-icon
            >
          </span>
          <span *ngIf="row?.idPieceAffaire">
            <mat-icon class="nav-link-icon" style="color: #1565c0"
              >insert_drive_file</mat-icon
            >
          </span>
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef fxHide.xs>{{"PieceAffaire.Nom"| translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs> {{ row?.nom }}</mat-cell>
      </ng-container>

      <!-- Type Column -->
      <!-- Owner Column -->
      <ng-container matColumnDef="datecreation">
        <mat-header-cell *matHeaderCellDef fxHide.xs
          >{{"PieceAffaire.DateCréation"| translate}}</mat-header-cell
        >
        <mat-cell *matCellDef="let row" fxHide.xs>
          {{ row?.dateCreation | date: 'dd-MM-yyyy' }}</mat-cell
        >
      </ng-container>

      <!-- Modified Column -->
      <ng-container matColumnDef="filename">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md
          >{{"PieceAffaire.fileName"| translate}}</mat-header-cell
        >
        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md>{{
          row?.fileName ? row?.fileName : '-'
        }}</mat-cell>
      </ng-container>

      <!-- Size Column -->
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef fxHide.xs>{{"PieceAffaire.Size"| translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs>{{
          row?.size && row?.size != '' ? row?.size : '-'
        }}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onSelect(row)"
        [ngClass]="{ 'mat-accent-50-bg': row == selected }"
        matRipple
        [@animate]="{ value: '*', params: { y: '100%' } }"
      >
      </mat-row>
    </mat-table>

    <mat-paginator
      (pageChange)="loadPage($event)"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
    >
    </mat-paginator>
  </div>
</div>
