@import "../../../../@fuse/scss/fuse.scss";

:host {
    width:200%;

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 80px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
            .mat-column-select {
                overflow: visible;
              }
              
        }
    }
}
