<div class="content p-24" [dir]="'divers.dir' | translate">
    <p-table
      [dir]="'divers.dir' | translate"
      #dt
      dataKey="idTribunal"
      [value]="listTribunal"
      [(selection)]="selectedTribunal"
      [paginator]="true"
      [rows]="5"
      [resizableColumns]="true"
      [globalFilterFields]="[
        'type',
        'numTel',
        'fax',
        'adresse.description'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
          <div [style.float]="'divers.left' | translate">
              <app-tieredmenu (addAction)="addTribunal()" (editAction)="editTribunal()" (deleteAction)="deleteTribunal()" [addItem]="true"></app-tieredmenu>
          </div>
          <div [style.float]="'divers.right' | translate">
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    [placeholder]="'divers.placeholderSearch' | translate"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    style="width:auto"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em"></th>
          <th style="width: 3em"></th>
          <th pResizableColumn>{{ "Tribunal.type" | translate }}</th>
          <th pResizableColumn>{{ "Tribunal.fax" | translate }}</th>
          <th pResizableColumn>{{ "Tribunal.numTel" | translate }}</th>
          <th pResizableColumn>{{ "Adresse.description" | translate }}</th>
        </tr>
        <tr>
          <th style="width: 3em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
         <th style="width: 3em"></th>
        
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Tribunal.type' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'type',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Tribunal.fax' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'fax',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>

          <th pResizableColumn>
              <div class="ui-fluid">
                <div class="ui-g">
                  <div class="ui-g-12">
                    <input
                      pInputText
                      type="text"
                      [placeholder]="'Tribunal.numTel' | translate"
                      (input)="
                        dt.filter(
                          $event.target.value,
                          'numTel',
                          'contains'
                        )
                      "
                    />
                  </div>
                </div>
              </div>
            </th>

            
          <th pResizableColumn>
              <div class="ui-fluid">
                <div class="ui-g">
                  <div class="ui-g-12">
                    <input
                      pInputText
                      type="text"
                      [placeholder]="'Adresse.description' | translate"
                      (input)="
                        dt.filter(
                          $event.target.value,
                          'adresse.description',
                          'contains'
                        )
                      "
                    />
                  </div>
                </div>
              </div>
            </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tribunal let-expanded="expanded">
        <tr [pSelectableRow]="tribunal">
          <td>
            <p-tableCheckbox [value]="tribunal"></p-tableCheckbox>
          </td>
         <td>
            <a href="#" [pRowToggler]="tribunal">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
        </td>
         
          <td>
            {{ tribunal.type }}
          </td>
          <td>
           {{ tribunal.fax }}
          </td>
          <td>
              {{ tribunal.numTel }}
          </td>
          <td>
           {{ tribunal.adresse.description }}
          </td>

          
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-tribunal>
        <tr>
          <td
            style="background-color:rgba(252, 252, 255, 0.904)"
            [attr.colspan]="3"
          >
            <div class="ui-g ui-fluid" style="font-size:16px;padding-left:100px">
              <div class="row">
                <div class="col-md-12">
                  <div class="ui-g-12 ui-md-12">
                    <div class="ui-g">
                      <div class="ui-g-12">
                        <b>Type:</b>   {{ tribunal.type }}
                      </div>
                      <div class="ui-g-12">
                        <b>Description:</b>   {{ tribunal.adresse.description }}
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </td>
          <td
          style="background-color:rgba(252, 252, 255, 0.904)"
          [attr.colspan]="3"
        >
          <div class="ui-g ui-fluid" style="font-size:16px;padding-left:100px">
            <div class="row">
              <div class="col-md-12">
                <div class="ui-g-12 ui-md-12">
                  <div class="ui-g">
                    <div class="ui-g-12">
                      <b>Fax:</b>   {{ tribunal.fax }}
                    </div>
                    <div class="ui-g-12">
                      <b>Numéro Tel:</b>   {{ tribunal.numTel }}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            <p style="text-align: center"> {{ "divers.emptyTable" | translate }} </p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  