<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>
    <div [@animate]="{ value: '*', params: { scale: '0.2' } }">
      <img height="100%" width="50%" src="assets/images/logos/asbc.png" />
    </div>

    <div [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }">
      <h3>{{ "auth.welcome" | translate }}</h3>
    </div>

    <div
      class="description"
      [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
    >
      <label>{{ "auth.title" | translate }} </label>
      {{ "auth.description" | translate }}
    </div>
  </div>

  <div
    id="login-form-wrapper"
    fusePerfectScrollbar
    [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }"
  >
    <div id="login-form">
      <div class="logo" fxHide.gt-xs>
        <span>F</span>
      </div>

      <div class="title">{{ "auth.connect" | translate }}</div>

      <form
        name="loginForm"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        novalidate
      >
        <mat-form-field>
          <input
            matInput
            (keyup)="loggedIn = true"
            [placeholder]="'auth.login' | translate"
            formControlName="login"
          />
          <mat-error *ngIf="loginForm.get('login').hasError('required')">
            {{ "auth.alert1" | translate }}
          </mat-error>
        </mat-form-field>
        <p></p>

        <mat-form-field>
          <input
            matInput
            (keyup)="loggedIn = true"
            type="password"
            [placeholder]="'auth.password' | translate"
            formControlName="password"
          />
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            {{ "auth.alert2" | translate }}
          </mat-error>
          <mat-error *ngIf="!loginForm.get('password').hasError('minLength')">
            {{ "auth.alert3" | translate }}
          </mat-error>
        </mat-form-field>
        <p *ngIf="loggedIn"></p>
        <mat-error *ngIf="!loggedIn">
          {{ "auth.error" | translate }}
        </mat-error>
        <div
          class="remember-forgot-password"
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="space-between center"
        >
          <!-- <mat-checkbox class="remember-me" aria-label="Remember Me"> -->
          <a class="forgot-password" (click)="resetPassword()">
            {{ "auth.resetPassword" | translate }}
          </a>
          <!-- </mat-checkbox> -->
        </div>
        <button
          mat-raised-button
          color="accent"
          class="submit-button"
          aria-label="LOGIN"
        >
          {{ "auth.signIn" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
