<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <!-- CONTENT -->
  <div class="content p-24">

      <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

          <!-- REACTIVE FORM EXAMPLE -->

          <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
                fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="OnSubmit()">
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="45" class="inputStyle">
                    <mat-label>{{ "auxiliaire.nom" | translate }}</mat-label>
                    <input matInput [placeholder]="'auxiliaire.nom' | translate" formControlName="nom" required>
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="error(form,'nom' , 'required')">
                            Last Name is required!
                        </mat-error>   
                </mat-form-field>
                <span fxFlex="4"></span>
                <mat-form-field appearance="outline" fxFlex="45">
                        <mat-label>{{ "auxiliaire.prenom" | translate }}</mat-label>
                        <input matInput [placeholder]="'auxiliaire.prenom' | translate" formControlName="prenom" required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="error(form,'prenom' , 'required')">
                                First Name is required!
                            </mat-error>                       
                    </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="45" class="inputStyle">
                            <mat-label>{{ "auxiliaire.email" | translate }}</mat-label>
                            <input matInput type="email" [placeholder]="'auxiliaire.email' | translate" formControlName="email"
                                required>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="error(form,'email' , 'required')">
                                Email is required!
                            </mat-error>
                            <mat-error *ngIf="error(form,'email' , 'email')">
                                The format of the email address is not valid
                            </mat-error>
    
                        </mat-form-field>
                            <span fxFlex="4"></span>
                            <mat-form-field appearance="outline" fxFlex="45">
                                    <mat-label>{{ "auxiliaire.type" | translate }}</mat-label>
                                    <input  matInput [placeholder]="'auxiliaire.type' | translate" formControlName="type" required>
                                    <mat-icon matSuffix>subtitles</mat-icon>
                                    <mat-error *ngIf="error(form,'type' , 'required')">
                                            Type is required!
                                        </mat-error>                         
                                </mat-form-field>

                      </div> 
                      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                              
                            <mat-form-field appearance="outline" fxFlex="45">
                                    <mat-label>{{ "auxiliaire.numTel" | translate  }}</mat-label>
                                    <input type="number" maxlength="8" placeholder="00000"   matInput [placeholder]="'auxiliaire.numTel' | translate" formControlName="numTel" required>
                                    <mat-icon matSuffix>contact_phone</mat-icon>
                                    <mat-error *ngIf="error(form,'numTel' , 'required')">
                                            Num Tel is required!
                                        </mat-error>
                              </mat-form-field>                    
                              <span fxFlex="4"></span>
                              
                              <mat-form-field appearance="outline" fxFlex="45" class="inputStyle">
                                    <mat-label>{{ "auxiliaire.numTel2" | translate }}</mat-label>
                                    <input type="number"  maxlength="8" placeholder="00000"  matInput [placeholder]="'auxiliaire.numTel2' | translate" formControlName="numTel2" required>
                                    <mat-icon matSuffix>contact_phone</mat-icon>
                                    <mat-error *ngIf="error(form,'numTel2' , 'required')">
                                            Num Tel 2  is required!
                                        </mat-error>
                                    </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                    <mat-form-field appearance="outline" fxFlex="45" class="inputStyle">
                                            <mat-label>{{ "auxiliaire.specialite" | translate }}</mat-label>
                                            <input matInput [placeholder]="'auxiliaire.specialite' | translate" formControlName="specialite" required>
                                            <mat-icon matSuffix>subtitles</mat-icon> 
                                            <mat-error *ngIf="error(form,'specialite' , 'required')">
                                                    Specialite Tel 2  is required!
                                                </mat-error>        
                                        </mat-form-field>  
   
                            </div>     
                            <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                                  <button class="mr-8" mat-raised-button type="button" routerLink="/auxiliaire/list" color="red">
                                      {{ 'divers.cancel' | translate }}
                                  </button>
                                  <ng-container *ngIf="editMode; else elseTemplate">
                                      <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
                                          {{ 'divers.update' | translate }}
                                      </button>
                                  </ng-container>
                                  <ng-template #elseTemplate>
                                      <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
                                          {{ 'divers.add' | translate }}
                                      </button>
                                  </ng-template>
                              </div>
          </form>
      </div>
  </div>
</div>
