<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
  <!-- CONTENT -->
  <div class="content p-36">

      <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

          <!-- REACTIVE FORM EXAMPLE -->

          <form class="mat-white-bg mat-elevation-z4 p-36 mr-36 mb-36" fxLayout="column" fxLayoutAlign="center"
              fxFlex="90" fxFlexOffset="5" name="form" [formGroup]="form" (ngSubmit)="OnSubmit()">

          <div class="h2 mb-36">{{'Audience.titleAjout' | translate}}</div>

         

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              

              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                  <mat-label>{{ "Audience.dateCreation" | translate }}</mat-label>
                  <input matInput
                   [placeholder]="'audience.dateCreation' | translate"
                    formControlName="dateCreation"
                    [matDatepicker]="picker"
                    #date
                    (focus)="picker.open()"
                    required/>

                    <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>

                  <mat-datepicker #picker></mat-datepicker> 
                  <mat-error *ngIf="error(form,'dateCreation' , 'required')">
                      Date Creation is required!
                  </mat-error>
              </mat-form-field>
                  
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                  <mat-label>{{ "Audience.description" | translate }}</mat-label>
                  <input matInput [placeholder]="'audience.description' | translate" formControlName="description" required>
                  <mat-error *ngIf="error(form,'description' , 'required')">
                      description is required!
                  </mat-error>
              </mat-form-field>

        
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4" >
                  <mat-label>{{ "Audience.dateAudience" | translate }}</mat-label>
                  <input matInput 
                  type="dateAudience" 
                  [placeholder]="'audience.dateAudience' | translate"
                  formControlName="dateAudience" 
                  [matDatepicker]="pickerr"
                  [min]="form.get('dateCreation').value"
                  #date
                  (focus)="pickerr.open()"
                  required/>
                  <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerr"
                ></mat-datepicker-toggle>

                <mat-datepicker #pickerr disabled="false"></mat-datepicker> 
                 
                  <mat-error *ngIf="error(form,'dateAudience' , 'required')">
                      date is required!
                  </mat-error>
              </mat-form-field>
            

          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >

                  <mat-form-field appearance="outline" fxFlex="50" class="pr-4" >
                  <mat-label>{{ "Audience.etat" | translate }}</mat-label>
                  <input matInput
                  type="etat"
                  [placeholder]="'audience.etat' | translate"
                  formControlName="etat"
                 
                  required/>
                  
                  <mat-error *ngIf="error(form,'etat', 'required')">
                      Date Audience is required!
                  </mat-error>      
                  </mat-form-field>
               
              
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4"  >
                        <mat-label>{{ "Audience.dateFin" | translate }}</mat-label>
                        <input matInput 
                        type="dateFin" 
                        [placeholder]="'audience.dateFin' | translate" 
                        formControlName="dateFin" 
                        [matDatepicker]="pickerrrr"
                        [min]="form.get('dateAudience').value"
                        #date
                        (focus)="pickerrrr.open()"
                        required/>
                        <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerrrr"
                      ></mat-datepicker-toggle>
      
                      <mat-datepicker #pickerrrr disabled="false">
                          
                      </mat-datepicker> 
                        <mat-error *ngIf="error(form,'dateFin' , 'required')">
                            dateFin is required!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4" >
                        <mat-label>{{ "Audience.dureeNotif" | translate }}</mat-label>
                        <input matInput type="dureeNotif" [placeholder]="'audience.dureeNotif' | translate" 
                        formControlName="dureeNotif" required>
                        <mat-error *ngIf="error(form,'dureeNotif' , 'required')">
                            dureeNotif is required!
                        </mat-error>
                        <mat-error *ngIf="error(form , 'dureeNotif' , 'pattern')">
                                duree notif must be a number 
                            </mat-error>
                  </mat-form-field>
                   
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >

                <mat-form-field appearance="outline" fxFlex="50" class="pr-4"  >
                    <mat-label>{{ "Audience.notif" | translate }}</mat-label>
                    <input matInput type="notif" [placeholder]="'audience.notif' | translate" formControlName="notif" required>
                    <mat-error *ngIf="error(form,'notif' , 'required')">
                        notif is required!
                    </mat-error>
                    
                </mat-form-field>

              
        
      </div>
       
                 

          

          <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
              <button class="mr-8" mat-raised-button type="button" routerLink="/audience/list" color="red">
                  {{ 'divers.cancel' | translate }}
              </button>
              <ng-container *ngIf="editMode; else elseTemplate">
                  <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
                      {{ 'divers.update' | translate }}
                  </button>
              </ng-container>
              <ng-template #elseTemplate>
                  <button mat-raised-button type="submit" [disabled]="form.invalid" color="accent">
                      {{ 'divers.add' | translate }}
                  </button>
              </ng-template>
          </div>
      </form>
  </div>
</div>
<!-- / CONTENT -->
</div>

<!-- Toast  -->

<!-- -->