<div
  id="reset-password"
  class="inner-scroll"
  fxLayout="row"
  fxLayoutAlign="start"
>
  <div id="reset-password-intro" fxFlex fxHide fxShow.gt-xs>
    <div [@animate]="{ value: '*', params: { scale: '0.2' } }">
      <img height="100%" width="50%" src="assets/images/logos/asbc.png" />
    </div>

    <div
      class="title"
      [@animate]="{ value: '*', params: { delay: '50ms', y: '25px' } }"
    >
      <h3>{{ "auth.welcome" | translate }}</h3>
    </div>

    <div
      class="description"
      [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }"
    >
      <label>{{ "auth.title" | translate }} </label>
      {{ "auth.description" | translate }}
    </div>
  </div>

  <div
    id="reset-password-form-wrapper"
    fusePerfectScrollbar
    [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }"
  >
    <div id="reset-password-form">
      <div class="logo" fxHide.gt-xs>
        <span>ASB</span>
        <p class="cont">CONTENTIEUX</p>
      </div>

      <div class="title">RESET YOUR PASSWORD</div>

      <form
        name="resetPasswordForm"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="changePassword()"
        novalidate
      >
        <!--<mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error
            *ngIf="resetPasswordForm.get('email').hasError('required')"
          >
            Email is required
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>-->

        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password (Confirm)"
            formControlName="passwordConfirm"
          />
          <mat-error
            *ngIf="
              resetPasswordForm.get('passwordConfirm').hasError('required')
            "
          >
            Password confirmation is required
          </mat-error>
          <mat-error
            *ngIf="
              !resetPasswordForm.get('passwordConfirm').hasError('required') &&
              resetPasswordForm
                .get('passwordConfirm')
                .hasError('passwordsNotMatching')
            "
          >
            Passwords must match
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          class="submit-button"
          color="accent"
          aria-label="RESET MY PASSWORD"
        >
          RESET MY PASSWORD
        </button>
      </form>

      <div class="login" fxLayout="row" fxLayoutAlign="center center">
        <a class="link" [routerLink]="'/'">{{
          "auth.backLogin" | translate
        }}</a>
      </div>
    </div>
  </div>
</div>
