@import "src/@fuse/scss/fuse";

:host {
  #reset-password {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("/assets/images/backgrounds/material-grey-light.jpg")
      no-repeat;
    background-size: cover;

    #reset-password-intro {
      padding: 100px;
      color: black;

      @include media-breakpoint("sm") {
        padding: 128px 64px;
      }

      .logo {
        width: 128px;
        margin-bottom: 32px;
      }

      .title {
        font-size: 42px;
        font-weight: 300;
        line-height: 1;
      }

      .description {
        padding-top: 16px;
        font-size: 15px;
        max-width: 600px;
        color: #2d323ec7;
      }
    }

    #reset-password-form-wrapper {
      width: 400px;
      min-width: 400px;
      max-width: 400px;
      background: #ffffff;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      @include mat-elevation(16);

      @include media-breakpoint("sm") {
        width: 360px;
        min-width: 360px;
        max-width: 360px;
      }

      @include media-breakpoint("xs") {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
      }

      #reset-password-form {
        padding: 128px 48px 48px 48px;

        @include media-breakpoint("xs") {
          text-align: center;
          padding: 24px;
        }

        .logo {
          width: 150px;
          height: 150px;
          //line-height: 128px;
          font-size: 40px;
          font-weight: 500;
          text-align: center;
          margin: 32px auto;
          color: #ffffff;
          border-radius: 2px;
          background: #6c8a98;
        }

        .title {
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
        }

        .description {
          padding-top: 8px;
        }

        form {
          width: 100%;
          padding-top: 32px;

          mat-form-field {
            width: 100%;

            @include media-breakpoint("xs") {
              width: 80%;
            }
          }

          .submit-button {
            width: 100%;
            margin: 16px auto;
            display: block;

            @include media-breakpoint("xs") {
              width: 80%;
            }
          }
        }

        .login {
          margin: 32px auto 24px auto;
          width: 250px;
          font-weight: 500;

          .text {
            margin-right: 8px;
          }

          .link {
          }
        }
      }
    }
  }
}
