<div class="content p-24" [dir]="'divers.dir' | translate">
    <p-table
      [dir]="'divers.dir' | translate"
      #dt
      [value]="users"
      sortField="refProfession.libelleProfession" sortMode="single" (onSort)="onSort()"
      dataKey="id"
      [(selection)]="selectedUsers"
      [paginator]="true"
      [rows]="5"
      [resizableColumns]="true"
      [globalFilterFields]="[
      'firstName',
      'lastName',
      'email',
      'login'
    ]"
    >
      <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix">
         <div [style.float]="'divers.left' | translate">
          <app-tieredmenu [addItem]="true" (addAction)="addUser()" (editAction)="editUser()" (deleteAction)="deleteUser()" ></app-tieredmenu>
          </div>  
          <div [style.float]="'divers.right' | translate">
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                  <input
                    type="text"
                    pInputText
                    size="50"
                    [placeholder]="'divers.placeholderSearch' | translate"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    style="width:auto"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3em"></th>
          <th style="width: 3em"></th>
          <th pResizableColumn>{{ "user.fullName" | translate }}</th>
          <th pResizableColumn>{{ "user.login" | translate }}</th>
          <th pResizableColumn>{{ "user.email" | translate }}</th>
        </tr>
        <tr>
          <th style="width: 3em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: 3em"></th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'user.fullName' | translate"
                    (input)="
                    dt.filter(
                      $event.target.value,
                      'id',
                      'customUserFilter'
                    )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'user.login' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'login',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'user.email' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'email',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-expanded="expanded" let-rowIndex="rowIndex">
          <tr class="ui-widget-header" *ngIf="rowGroupMetadata[user.refProfession.libelleProfession].index === rowIndex">
              <td colspan="5" style="background-color: #0036ff08; font-style:italic">
                  <span style="font-weight:bold;">{{ user.refProfession.libelleProfession}}</span>
              </td>
          </tr>
        <tr [pSelectableRow]="user">
          <td>
            <p-tableCheckbox [value]="user"></p-tableCheckbox>
          </td>
          <td>
            <a href="#" [pRowToggler]="user">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
        </td>
          <td>
            {{ concat2Chaine(user) }}
          </td>
          <td>
            {{ user.login }}
          </td>
          <td>
            {{ user.email }}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-user>
        <tr>
           <td style="background-color:rgba(252, 252, 255, 0.904)" [attr.colspan]="5">
                <div class="ui-g ui-fluid" style="font-size:16px;padding-left:100px">
                  <div class="row">
                    <div class="col-md-6">
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <b>{{ 'user.prenom' | translate }}:</b> {{user.firstName}}
                            </div>
                            <div class="ui-g-12">
                                <b>{{ 'user.nom' | translate }}:</b> {{user.lastName}}
                            </div>
                            <div class="ui-g-12">
                                <b>{{ 'user.login' | translate }}:</b> {{user.login}}
                            </div>
                            
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="ui-g-12 ui-md-9">
                          <div class="ui-g">
                              <div class="ui-g-12">
                                  <b>{{ 'user.email' | translate }}:</b> {{user.firstName}}
                              </div>
                              <div class="ui-g-12">
                                  <b>{{ 'user.profession' | translate }}:</b> {{user.refProfession.libelleProfession}}
                              </div>
                              <div class="ui-g-12">
                                  <b>{{ 'user.creeLe' | translate }}:</b> {{user.dateCreation | date: 'shortDate'}}
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
                </div>
              </td>
        </tr>
    </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            <p style="text-align: center"> {{ "divers.emptyTable" | translate }} </p> 
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
