tr:nth-child(even) {
    background-color: white !important;
  }
 tr:nth-child(even).ui-state-highlight {
    background-color: #007ad9 !important;;
    color: #ffffff !important;
  }
tr:nth-child(even).ui-state-highlight a {
    color: #ffffff !important;
  }
 tr:nth-child(even).ui-contextmenu-selected {
    background-color: #007ad9 !important;;
    color: #ffffff !important;
  }
tr.ui-selectable-row:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
    cursor: pointer !important;
    background-color: #f7f7f7 !important;
    color: #333333 !important;
  }