
<div id="pieceAffaire" class="page-layout simple right-sidebar inner-scroll">
   
  <div class="center" fxFlex>
    <br />
    <div style="min-height: 50px;padding-bottom: 0%;padding-right: 2%">
      <app-dialog-piece-affaire ></app-dialog-piece-affaire>
      <app-dialog-piece-affaire-folder></app-dialog-piece-affaire-folder>
    </div>
    <div class="content mat-white-bg" fusePerfectScrollbar>
        
      <app-piece-affaire-list 
        [dataSource]="dataSource"
      ></app-piece-affaire-list>
    </div>
  </div>
  <fuse-sidebar
    class="sidebar details-sidebar"
    name="file-manager-details-sidebar"
    position="right"
    lockedOpen="gt-md"
    *ngIf="selected?.idPieceAffaire || selected?.idDossier"
  >

  
    <app-piece-affaire-details  
    
 
    ></app-piece-affaire-details>
  
  
  </fuse-sidebar>
  
 
</div>



