@import "../../../@fuse/scss/fuse.scss";

#pieceAffaire {
    h1{
        color: red;
    }
    .ui-button-success{
        line-height: normal;
        display: block;
    }
    
    .sidebar {
        width: 320px !important;
        min-width: 320px !important;
        max-width: 320px !important;
      

        &.main-sidebar {
            
        }
        

        &.details-sidebar {
            @include media-breakpoint('gt-md') {
                z-index: 0;
            }
        }
    }

    .center {
        overflow: hidden;

        .header {
            position: relative;
            height: 200px;
            min-height: 10px;
            max-height: 10px;
           

            @include media-breakpoint-down('sm') {
                height: 200px;
                min-height: 200px;
                max-height: 200px;
            }

            .add-file-button {
                position: absolute;
                bottom: -28px;
                left: 16px;
                z-index: 999;
            }
        }

        .content {
            flex: 1 1 auto;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
           
        }
    }

    .type-icon {

        &.folder {
            &:before {
                content: 'folder';
                color: #FFB300;
            }
        }

        &.document {
            &:before {
                content: 'insert_drive_file';
                color:brown;
            }
        }

        &.spreadsheet {
            &:before {
                content: 'insert_chart';
                color: #4CAF50;
            }
        }
    }
}
