<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<button type="button" (click)="confirm1()" pButton icon="pi pi-check" label="Confirm"></button>

<button type="button" (click)="confirm2()" pButton icon="pi pi-times" label="Delete"></button>

<p-messages [value]="msgs"></p-messages>