<div class="content p-24" [dir]="'divers.dir' | translate">
    <p-card [header]="'role.ajoutTitle' | translate ">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4 ">
                <input type="text" style="width: 100%" pInputText [(ngModel)]="libelle"
                    [placeholder]="'role.libelle' | translate">
            </div>
            <div class="ui-g-12 ui-md-8">
                <p-dropdown [options]="modules" [placeholder]="'role.selectionnerModule' | translate" [style]="{'width':'100%'}" [(ngModel)]="selectedModule" optionLabel="nomModule"></p-dropdown>
            </div>
        </div>
        <app-power-management *ngIf="selectedModule" 
        [selectedModule]="selectedModule?.nomModule"
        (powersEvent)="addRole($event)"></app-power-management>
    </p-card>
</div>
<router-outlet></router-outlet>