<!-- ediit
 <div id="forms" class="page-layout simple fullwidth" fxLayout="column">

  <div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

      <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
        fxFlex="1 0 auto" name="form" [formGroup]="form" (ngSubmit)="OnSubmit()">

        <div class="h2 mb-24">{{'user.titleAjout' | translate}}</div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="50" class="inputStyle">
            <mat-label>{{ "user.nom" | translate }}</mat-label>
            <input matInput [placeholder]="'user.nom' | translate" formControlName="firstName" required>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="formErrors.firstName.required">
              First Name is required!
            </mat-error>

          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>{{ "user.prenom" | translate }}</mat-label>
            <input matInput [placeholder]="'user.prenom' | translate" formControlName="lastName" required>
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="formErrors.lastName.required">
              Last Name is required!
            </mat-error>

          </mat-form-field>


        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field appearance="outline" fxFlex="50" class="inputStyle">
            <mat-label>{{ "auth.login" | translate }}</mat-label>
            <input matInput [placeholder]="'auth.login' | translate" formControlName="login" required>
            <mat-icon matSuffix>account_box</mat-icon>
            <mat-error *ngIf="formErrors.login.required">
              Login is required!
            </mat-error>

          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50">
            <mat-label>{{ "auth.password" | translate }}</mat-label>
            <input type="password" matInput [placeholder]="'auth.password' | translate" formControlName="password"
              required>
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-error *ngIf="formErrors.password.required">
              Password is required!
            </mat-error>

          </mat-form-field>

        </div>

        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
          <button class="mr-8" mat-raised-button type="button" color="red">
            Annuler
          </button>
          <button mat-raised-button type="submit" color="accent">
            Ajouter
          </button>
        </div>


      </form>



    </div>

  </div>

</div>
 -->
