<div class="content p-24" [dir]="'divers.dir' | translate">
    <div>
        <button pButton type="button" icon="pi pi-angle-double-left" class="ui-button-info" style="margin-bottom: 2%"
            routerLink="/pays"></button>
        <button type="button" pButton icon="pi pi-plus" (click)="addRow()" [label]="'divers.add' | translate"
            style="margin-left: 88%;margin-bottom: 2%"></button>
    </div>
    <p-table [value]="gouvernorat" [paginator]="true" [rows]="10" editMode="row" #table>
        <ng-template pTemplate="header">
            <tr>
                <th>{{'Adresse.gouvernorat' | translate }}</th>
                <th style="width:15em;text-align: center">{{'divers.action' | translate }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
            <tr [pEditableRow]="rowData">
                <ng-container *ngIf="rowData?.isEditable; else notEditMode">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData.nom" required
                                    [ngStyle]="{'width':'100%'}">
                            </ng-template>

                            <ng-template pTemplate="output">
                                {{rowData?.nom}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </ng-container>
                <ng-template #notEditMode>
                    <td>
                        {{rowData?.nom}}
                    </td>
                </ng-template>
                <td style="text-align:center; width: 15em ;">
                    <button *ngIf="!rowData?.isEditable" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" style="margin-right: .5em" (click)="onRowEditInit(rowData)"></button>

                    <button *ngIf="rowData?.isEditable" pButton type="button" pSaveEditableRow icon="pi pi-check" [disabled]="!rowData.nom"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>

                    <button *ngIf="rowData?.isEditable" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" style="margin-right: .5em"
                        (click)="onRowEditCancel(rowData, ri)"></button>

                    <button *ngIf="!rowData?.isEditable" pButton type="button" icon="pi pi-trash"
                        class="ui-button-danger" style="margin-right: .5em"
                        (click)="deleteGouvernorat(rowData.idGouvernorat)"></button>

                    <button pButton *ngIf="!rowData?.isEditable" icon="pi pi-search"
                        (click)="getListVilles(rowData.idGouvernorat , rowData.pays.idPays)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>