<div class="content p-24" [dir]="'divers.dir' | translate">
  <p-table
    [dir]="'divers.dir' | translate"
    #dt
    [value]="listAudience"
    dataKey="idAudience"
    [(selection)]="selectedAudience"
    [paginator]="true"
    [rows]="8"
    [resizableColumns]="true"
    [globalFilterFields]="[
      'dateCreation',
      'description',
      'dateAudience',
      'etat',
      'dateFin',
      'dureeNotif',
      'notif'
    ]"
  >
    <ng-template pTemplate="caption">
      <div class="ui-helper-clearfix">
        <div [style.float]="'divers.left' | translate">
            <app-tieredmenu (addAction)="addAudience()" (editAction)="editAudience()" (deleteAction)="deleteAudience()" [addItem]="true"></app-tieredmenu>
        </div>
        <div [style.float]="'divers.right' | translate">
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input
                  type="text"
                  pInputText
                  size="50"
                  [placeholder]="'divers.placeholderSearch' | translate"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
          <th style="width: 3em"></th>
          <th style="width: 3em"></th>
        <th pResizableColumn>{{ "Audience.dateCreation" | translate }}</th>
        <th pResizableColumn>{{ "Audience.description" | translate }}</th>
        <th pResizableColumn>{{ "Audience.dateAudience" | translate }}</th>
        <th pResizableColumn>{{ "Audience.etat" | translate }}</th>
        <th pResizableColumn>{{ "Audience.dateFin" | translate }}</th>
        <th pResizableColumn>{{ "Audience.dureeNotif" | translate }}</th>
        <th pResizableColumn>{{ "Audience.notif" | translate }}</th>
      </tr>
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 3em"></th>
        
     
      
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'Audience.dateCreation' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'dateCreation',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>
        <th pResizableColumn>
          <div class="ui-fluid">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'Audience.description' | translate"
                  (input)="
                    dt.filter(
                      $event.target.value,
                      'description',
                      'contains'
                    )
                  "
                />
              </div>
            </div>
          </div>
        </th>

        <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Audience.dateAudience' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'dateAudience',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>

          
        <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Audience.etat' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'etat',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>

          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Audience.dateFin' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'dateFin',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Audience.dureeNotif' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'dureeNotif',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>

          <th pResizableColumn>
            <div class="ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12">
                  <input
                    pInputText
                    type="text"
                    [placeholder]="'Audience.notif' | translate"
                    (input)="
                      dt.filter(
                        $event.target.value,
                        'notif',
                        'contains'
                      )
                    "
                  />
                </div>
              </div>
            </div>
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-audience let-expanded="expanded">
      <tr [pSelectableRow]="audience">
        <td>
          <p-tableCheckbox [value]="audience"></p-tableCheckbox>
        </td>
        <td>
            <a href="#" [pRowToggler]="audience">
                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
            </a>
        </td>
        <td>
          {{ audience.dateCreation | date: 'dd-MM-yyyy'}}
         </td>
       
        <td>
          {{ audience.description }}
        </td>
        <td>
          {{ audience.dateAudience | date: 'dd-MM-yyyy'}}
         </td>

        <td>
         {{ audience.etat }}
        </td>
       
        <td>
          {{ audience.dateFin | date: 'dd-MM-yyyy'}}
         </td>
         <td>
          {{ audience.dureeNotif }}
         </td>
         <td>
          {{ audience.notif }}
         </td>

        
      </tr>
    </ng-template>


    <ng-template pTemplate="rowexpansion" let-audience>
        <tr>
          <td
            style="background-color:rgba(252, 252, 255, 0.904)"
            [attr.colspan]="6"
          >
            <div class="ui-g ui-fluid" style="font-size:16px;padding-left:100px">
              <div class="row">
                <div class="col-md-12">
                  <div class="ui-g-12 ui-md-12">
                    <div class="ui-g">
                      <div class="ui-g-12">
                        <b>Date Création:</b>   {{ audience.dateCreation | date: 'dd-MM-yyyy'}}
                      </div>
                      <div class="ui-g-12">
                        <b>Description:</b>   {{audience.description }}
                      </div>
                      <div class="ui-g-12">
                          <b>Date Audience:</b>   {{ audience.dateAudience | date: 'dd-MM-yyyy' }}
                      </div>
                      <div class="ui-g-12">
                          <b>Etat:</b>   {{ audience.etat }}
                        </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </td>
     <td
        style="background-color:rgba(252, 252, 255, 0.904)"
        [attr.colspan]="3"
      >
        <div class="ui-g ui-fluid" style="font-size:16px;padding-left:100px">
          <div class="row">
            <div class="col-md-12">
              <div class="ui-g-12 ui-md-12">
                <div class="ui-g">
                  <div class="ui-g-12">
                    <b>Date Fin:</b>   {{ audience.dateFin | date: 'dd-MM-yyyy' }}
                  </div>
                  <div class="ui-g-12">
                    <b>Durée Notification Tel:</b>   {{  audience.dureeNotif }}
                  </div>
                  <div class="ui-g-12">
                      <b>Notif:</b>   {{  audience.notif }}
                    </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </td>

   
        </tr>
      </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">
          {{ "divers.emptyTable" | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
