<mat-toolbar class="p-0 mat-elevation-z1">
  <div
    fxFlex
    fxFill
    fxLayout="row"
    fxLayoutAlign="start center"
    [ngStyle]="toolbarPosition"
  >
    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="navbar-toggle-button"
        *ngIf="!hiddenNavbar && !rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
        fxHide.gt-md
      >
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <div
        class="toolbar-separator"
        *ngIf="!hiddenNavbar && !rightNavbar"
        fxHide.gt-md
      ></div>

    </div>

    <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <div class="toolbar-separator" [ngStyle]="separatorPosition"></div>

      <button
        mat-button
        fxHide
        fxShow.gt-xs
        class="language-button"
        [matMenuTriggerFor]="languageMenu"
      >
        <div fxLayout="row" fxLayoutAlign="center center">
          <img
            class="flag mr-8"
            [src]="'assets/images/flags/' + selectedLanguage.flag + '.png'"
          />
          <span class="iso text-uppercase">{{ selectedLanguage.id }}</span>
        </div>
      </button>

      <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
        <button
          mat-menu-item
          *ngFor="let lang of languages"
          (click)="setLanguage(lang)"
        >
          <span fxLayout="row" fxLayoutAlign="start center">
            <img
              class="flag mr-16"
              [src]="'assets/images/flags/' + lang.flag + '.png'"
            />
            <span class="iso">{{ lang.title }}</span>
          </span>
        </button>
      </mat-menu>

      <div class="toolbar-separator"></div>

      <!-- <button mat-icon-button
                    class="quick-panel-toggle-button"
                    (click)="toggleSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel">
                <mat-icon class="icon">format_list_bulleted</mat-icon>
            </button> -->
      <button
        mat-button
        [matMenuTriggerFor]="userMenu"
        class="user-button"
        [ngStyle]="userPosition"
      >
        <div fxLayout="row" fxLayoutAlign="center center">
          <img
            class="avatar mr-0 mr-sm-16"
            src="assets/images/avatars/profil1.jpg"
          />
          <span class="username mr-12" fxHide fxShow.gt-sm *ngIf="currentUser"
            >{{ currentUser.firstName }} {{ currentUser.lastName }}</span
          >
          <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>

      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>{{ "navbar.profil" | translate }}</span>
        </button>

        <button mat-menu-item class="" (click)="seDisconnect()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ "navbar.logout" | translate }} </span>
        </button>
      </mat-menu>
      <div class="px-8 px-mat-16" [ngStyle]="navigationPosition">
          <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
        </div>
      <div
        class="toolbar-separator"
        *ngIf="!hiddenNavbar && rightNavbar"
        fxHide
        fxShow.gt-xs
      ></div>

      <button
        mat-icon-button
        class="navbar-toggle-button"
        *ngIf="!hiddenNavbar && rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
        fxHide.gt-md
      >
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

    </div>

  </div>
</mat-toolbar>
